<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="asample.css">
	
	<style type="text/css">
		h3{
			text-align: center;
			color: orange;
		}
	</style>
</head>
<body>
	<marquee><h1> WELCOME TO BVC</h1></marquee>
	<h3>student registeration</h3>
	<h4>Name<input type="text"></h4>
	<h5>surname<input type="text"></h5>
	<h4>email<input type="text"></h4>
	<h4>mobile_no<input type="text"></h4>
	<h4>branch<input type="text"></h4>
	<h4>year<input type="text"></h4>
</body>
</html>